
.vs/
Library/
Logs/
Temp/
UserSettings/
Obj/
*.csproj
*.sln
.vsconfig
Assets/Barmetler/Road System/Demo/Scenes/Models.unity.meta
Assets/Barmetler/Road System/Demo/Scenes/Models.unity
Assets/Barmetler/Road System/Demo/Scenes/ExampleSystem/ReflectionProbe-0.exr.meta
Assets/Barmetler/Road System/Demo/Scenes/ExampleSystem/ReflectionProbe-0.exr
Assets/Barmetler/Road System/Demo/Scenes/ExampleSystem/New Lighting Settings.lighting.meta
Assets/Barmetler/Road System/Demo/Scenes/ExampleSystem/New Lighting Settings.lighting
Assets/Barmetler/Road System/Demo/Scenes/ExampleSystem/LightingData.asset.meta
Assets/Barmetler/Road System/Demo/Scenes/ExampleSystem/LightingData.asset
Assets/Barmetler/Road System/Demo/Scenes/ExampleSystem.unity.meta
Assets/Barmetler/Road System/Demo/Scenes/ExampleSystem.unity
Assets/Barmetler/Road System/Demo/Scenes/ExampleSystem.meta
Assets/Barmetler/Road System/Demo/Scenes.meta
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Meshes/Materials/Hard_Surface_01_White.mat.meta
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Meshes/Materials/Hard_Surface_01_White.mat
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Meshes/Materials/Hard_Surface_01_Red.mat.meta
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Meshes/Materials/Hard_Surface_01_Red.mat
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Meshes/Materials/Hard_Surface_01_Grey_B.mat.meta
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Meshes/Materials/Hard_Surface_01_Grey_B.mat
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Meshes/Materials/Hard_Surface_01_Grey_A.mat.meta
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Meshes/Materials/Hard_Surface_01_Grey_A.mat
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Meshes/Materials/Hard_Surface_01_Alpha.mat.meta
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Meshes/Materials/Hard_Surface_01_Alpha.mat
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Textures/Hard_Surface_01_Ao.png
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Textures/Hard_Surface_01_Ao.png.meta
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Textures/Hard_Surface_01_Dif.png
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Textures/Hard_Surface_01_Dif.png.meta
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Textures/Hard_Surface_01_Illum.png
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Textures/Hard_Surface_01_Illum.png.meta
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Textures/Hard_Surface_01_Metal.tif
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Textures/Hard_Surface_01_Metal.tif.meta
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Textures/Hard_Surface_01_Norm.png
Assets/_Creepy_Cat/3D Games Effects Pack Free/_Showroom/Textures/Hard_Surface_01_Norm.png.meta
